# Android / 构建产物
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class

# 临时探测文件
tmp_*
tools/fetch*.ps1
tools/dl.ps1
tools/setup_gradlew.ps1
tools/fetch_*.ps1

# 本地密钥等
*.jks
*.keystore
